body{
    background-color: #19222c;
    margin: 0;
    gap: 3vh;
}

.container_head{
    display: flex;
    flex-direction: column;
}

.dropdowns{
    display: flex;
    width: 50vw;
    height: 5vh;
    padding-bottom: 3vh;
}

.dropdowns>div{
    display: flex;
    flex-direction: row;
    border: 2px solid #FED530;
    border-radius: 8px;
    margin-left: 2vw;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vw;
}

.dropdowns .angilal{
    width: 8vw;
}

.dropdowns .year{
    width: 5vw;
}

.dropdowns>div>p{
    color: #fff;
}

.dropdowns>div>img{
    width: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2vh;
}


.movie_buren{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
