body {
    margin: 0;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #19222d;
    border-bottom: 1px solid aqua;
}

.logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-left: 100px;
    justify-content: start;
}

.logoImage {
    width: 10vw;
    height: 5vh;
    object-fit: cover;
}

.logoSpace {
    font-size: 25px;
    color: rgb(125, 123, 123);
    font-family: sans-serif;
}

.logoText {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.title {
    width: 100%;
    height: 100%;
    display: grid;
    padding-right: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    cursor: pointer;
}

.titles {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 10px;
    min-width: 20px;
    text-align: center;
}

.titles:hover {
    transform: translate(0, -10px);
    font-size: 25px;
}

.profile {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    margin-right: 100px;
    justify-content: end;
}

.profile i {
    background-color: white;
    color: white;
}

.pro {
    width: 52px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}

.username {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgb(255, 255, 255);
}

.username:hover {
    color: yellow;
}

.section {
    width: 100%;
    height: 100%;
    background: #19222d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.first {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btn {
    width: 273px;
    height: 72px;
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: rgb(255, 255, 255);
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 12px;
    /*border-image: linear-gradient( rgba(255, 255, 255, 1), rgb(	254,	213,s	48), rgba(244, 174, 183, 0.8125), rgba(246, 135, 175, 1), rgba(228, 93, 126, 0.5885), rgba(223, 59, 118, 0.93), rgba(255, 0, 61, 1), rgba(255, 4, 4, 0)) 3;*/
    transform: translate(100px, 100px);
    border-color: #fed530;
}

.second {
    margin-top: 50px;
    width: 50%;
    height: 100%;
    display: flex;
    gap: 30px;
    padding-bottom: 120px;
    margin-bottom: 300px;
}

.create {
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-top: 50px;
}

.part1 {
    width: 100%;
    display: flex;
    
    align-items: center;
    gap: 30px;
    transform: translate(-280px);
}

.part2 {
    width: 100%;
    display: grid;
    gap: 20px;
    transform: translate(-220px, 20px);
}

.part3 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 30px;
    transform: translate(-80px, 10px);
}

.text1 {
    width: 100%;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 46.87px;
    color: rgba(255, 248, 188, 1);
    text-transform: uppercase;
    text-align: right;
}

.text2 {
    width: 70%;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 33.85px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

.bank {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.bankLogo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: flex;
    align-items: center;
}

.bankName {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0;
}

.cost {
    width: 100%;
    margin: 0 auto;
    font-size: 22px;
    color: rgb(255, 255, 255);
    background: transparent;
    text-transform: uppercase;
    padding: 15px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-image: conic-gradient( from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 10s rotate linear infinite;
}