body {
  margin: 0;
  background-image: url("../images/back.webp");
  height: 100%;
  width: 100%;
  backdrop-filter: brightness(25%);
}

.login-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box > img {
  width: 20%;
  height: 20%;
}

label {
  color: white;
}

form {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.login-box > form > input {
  width: 17vw;
  height: 5vh;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: black;
  border: 1px solid gray;
}


.loginButtonContainer> div {
  margin-top: 2vh;
  width: 8vw;
  height: 5vh;
  background: linear-gradient(to right, #556fff, #ff798e, #556fff);
  background-size: 200% auto;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginButtonContainer{
  display: flex;
  justify-content: space-between;
}

.loginButtonContainer > div > a{
  text-decoration: none;
  color: black;
}

.signUpButtonContainer {
  margin-top: 3vh;
  height: 5vh;
  width: 12vw;
  background: linear-gradient(to right, #556fff, #ff798e, #556fff);
  background-size: 200% auto;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.aa{
  display: flex;
  justify-content: center;
}
.signUpButtonContainer > a{
  text-decoration: none;
  color: #000;
}

.forgetpass > a {
  text-decoration: none;
  color: white;
}
